.backgroud__container {
    background: url(../../assets/rustic-dark-living-room-decor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7); 
    background-blend-mode: darken;
}


/* FlatsTable.css */
.header-style-allUsers {
    /* font-style: italic; */
    font-weight: bold; /* Modifică greutatea fontului */
    font-size: 17px;   /* Modifică mărimea fontului */
    color: rgb(82, 22, 139);
    font-family: 'Courier New', Courier, monospace;

  }
  
  .header-style-table {
    background-color: rgb(82, 22, 139);
    color:aliceblue
  }

  .cell-style-allUsers {
    font-size: 14px;   /* Modifică mărimea fontului */
    color: #000000;    /* Culoarea textului */
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
  



/* Stiluri pentru zona de paginare și sumar */
.MuiDataGrid-footerContainer {
  color: rgb(0, 18, 92);
  font-size: 16px;

}

.MuiTablePagination-displayedRows {
  margin-top: 15px;
  color: rgb(0, 18, 92);
  font-size: 20px;


}

.MuiTablePagination-actions {
  color: rgb(0, 18, 92) ;

}

.action__icon {
    cursor: pointer;
    color: white;
}


.hero__table__title {
    padding: 20px;
    color: white;
    text-align: center;
    color:rgb(82, 22, 139);

}

.view__icon__allusers {
  cursor: pointer;
  color: rgb(0, 25, 127) ;
}