.backgroud__container {
    background: url(../../assets/rustic-dark-living-room-decor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7); 
    background-blend-mode: darken;
}


/* FlatsTable.css */
.header-style {
    /* font-style: italic; */
    font-weight: bold; /* Modifică greutatea fontului */
    font-size: 17px;   /* Modifică mărimea fontului */
    color: #ff0000;    /* Culoarea textului */
    font-family: 'Courier New', Courier, monospace;

  }
  
  .cell-style {
    background: rgba(255, 255, 255, 0); /* Fundal semitransparent pentru celule */
    font-size: 14px;   /* Modifică mărimea fontului */
    color: #ffffff;    /* Culoarea textului */
    font-family: 'Courier New', Courier, monospace;
  }
  


/* Stiluri pentru zona de paginare și sumar */
.MuiDataGrid-footerContainer {
    background: rgba(255, 255, 255, 0.0); /* Fundal semitransparent */
    backdrop-filter: blur(5px); /* Efect de blur */
    -webkit-backdrop-filter: blur(5px); /* Compatibilitate cu browserele WebKit */
    color: #ff0000; /* Culoarea textului */
    font-size: 16px;

  }
  
.MuiTablePagination-displayedRows {
    margin-top: 15px;
    color: #ff0000; /* Culoarea textului */
    font-size: 20px;


}

.MuiTablePagination-actions {
    color: #ff0000; /* Culoarea textului */

}

.action__icon {
    cursor: pointer;
    color: white;
}


.hero__table__title {
    padding: 20px;
    color: white;
    text-align: center;

}