.custom__class .MuiDataGrid-row{
  border-bottom: 1px solid #c3c4c4;
  border-top: 1px solid #c3c4c4;
  font-size: 16px;
}
.custom__class .MuiDataGrid-cell{
  border-bottom: 1px solid #c3c4c4;

}
.custom__class .MuiDataGrid-columnHeader{
  background-color: rgb(220, 222, 224, 255);
 
  font-size: 18px;
}

.custom__class .MuiDataGrid-footerContainer{
  color: white;
  font-size: 16px;
}
.custom__class  {
  overflow: clip;
  background-color: rgba(241,243,244,255);
}

/* FlatsTable.css */
@media (max-width: 768px) {
  .MuiDataGrid-root {
    font-size: 0.75rem; /* Micșorează dimensiunea fontului */
  }

  .MuiDataGrid-columnSeparator {
    display: none; /* Ascunde separatoarele coloanelor */
  }

  .MuiDataGrid-cell {
    padding: 8px; /* Micșorează paddingul în celule */
  }

  .MuiDataGrid-footerContainer {
    display: none; /* Ascunde footer-ul tabelului pe ecrane mici */
  }

  .custom__class {
    width: 100% !important; /* Asigură că tabelul se întinde pe întreaga lățime a containerului */
    overflow-x: auto; /* Permite derularea orizontală dacă este necesar */
  }
}
