* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__logo__and__greetings {
    color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}