/* FlatsTable.css */
.header-style {
  font-weight: bold;
  font-size: 17px;   /* Modifică mărimea fontului */
  color: blueviolet;
  font-family: 'Courier New', Courier, monospace;
  
}

.cell-style {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  font-family: "inherit";
}



/* Stiluri pentru zona de paginare și sumar */
.MuiDataGrid-footerContainer {
  color: rgb(0, 18, 92);
  font-size: 16px;

}

.MuiTablePagination-displayedRows {
  margin-top: 15px;
  color: rgb(0, 18, 92);
  font-size: 20px;


}

.MuiTablePagination-actions {
  color: rgb(0, 18, 92) ;

}

.action__icon__view {
  cursor: pointer;
  color: rgb(0, 25, 127) ;
}

.action__icon__favorite {
  cursor: pointer;
  color: rgb(166, 255, 1) ;
  
}

.action__icon__edit {
  cursor: pointer;
  color: rgb(0, 255, 13) ;
}

.action__icon__delete {
  cursor: pointer;
  color: rgb(255, 0, 0) ;
}



.add_flat_box {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 35px !important;
  border-radius: 100%;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
}

.add_flat_box:hover {
  background-color: blueviolet;
}


.add_flat_box > .add_flat_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 0;
  margin: 0 !important;
  /* background-color: transparent !important; */
}

.add_flat_box > .add_flat_button:hover {
color: rgb(0, 0, 0);
}


.table__buttons {
  background-color: aqua;
}

.add_flat_box > .add_flat_button:hover{
  border: none;
}
.mobile_meniu{
  display: none;
}
@media only screen and (max-width: 500px){
  .profile_meniu_container{
    display: flex;
  }
  .mobile_meniu{
    display: none;
  }
}
@media only screen and (max-width: 300px){
  .profile_meniu_container{
    display: none;
  }
  .mobile_meniu{
    display: flex;
  }
}