/* FlatsTable.css */
.header-style {
  /* font-style: italic; */
  font-weight: bold; /* Modifică greutatea fontului */
  font-size: 17px;   /* Modifică mărimea fontului */
  color: #ff0000;    /* Culoarea textului */
  font-family: 'Courier New', Courier, monospace;

}

.cell-style {
  background: rgba(255, 255, 255, 0); /* Fundal semitransparent pentru celule */
  backdrop-filter: blur(5px); /* Efect de blur pe fundalul celulelor */
  -webkit-backdrop-filter: blur(5px); /* Compatibilitate cu browserele WebKit */
  font-size: 14px;   /* Modifică mărimea fontului */
  color: #ffffff;    /* Culoarea textului */
  font-family: 'Courier New', Courier, monospace;
}



/* Stiluri pentru zona de paginare și sumar */
.MuiDataGrid-footerContainer {
  background: rgba(255, 255, 255, 0.0); /* Fundal semitransparent */
  backdrop-filter: blur(5px); /* Efect de blur */
  -webkit-backdrop-filter: blur(5px); /* Compatibilitate cu browserele WebKit */
  color: #ff0000; /* Culoarea textului */
  font-size: 16px;

}

.MuiTablePagination-displayedRows {
  margin-top: 15px;
  color: #ff0000; /* Culoarea textului */
  font-size: 20px;


}

.MuiTablePagination-actions {
  color: #ff0000; /* Culoarea textului */

}

.action__icon {
  cursor: pointer;
  color: white;
}



.add_flat_box {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 35px !important;
  border-radius: 100%;
  border: 1px solid rgb(21, 2, 2);
  background-color: rgb(39, 38, 38);
  width: 100px;
  height: 100px;
}

.add_flat_box:hover {
  background-color: wheat;
}


.add_flat_box > .add_flat_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 0;
  margin: 0 !important;
  /* background-color: transparent !important; */
}

.add_flat_box > .add_flat_button:hover {
color: rgb(0, 0, 0);
}


.table__buttons {
  background-color: aqua;
}

.add_flat_box > .add_flat_button:hover{
  border: none;
}
.mobile_meniu{
  display: none;
}
@media only screen and (max-width: 500px){
  .profile_meniu_container{
    display: flex;
  }
  .mobile_meniu{
    display: none;
  }
}
@media only screen and (max-width: 300px){
  .profile_meniu_container{
    display: none;
  }
  .mobile_meniu{
    display: flex;
  }
}