/* .flat_details{
  padding: 5px;
  font-family: inherit;
}

.send__message__textfield .MuiOutlinedInput-root {
  border: 2px solid black;
  border-radius: 7px;
}

.send__message__textfield .MuiOutlinedInput-input::placeholder {
  color: #ff5733; 
  font-style: italic;
  opacity: 1; 
}

.send__message__textfield .MuiOutlinedInput-input {
  color: white; 
}

.send__message__textfield .MuiInputLabel-root {
  color: #ff5733; 
}
.asdf {
  color:rgb(109, 98, 129)
} */